<div class="card h-100 mt-3">

  <div class="card-header d-flex">
    <h5 class="me-auto">Budget: {{budget.description}}</h5>
    <button (click)="gotoTransactionForm()" class="btn btn-primary btn-sm">New Transaction</button>
    <button (click)="gotoBudgetList()" class="btn btn-secondary btn-sm ms-2">Back</button>
  </div>

  <div class="card-body">

    <div class="table-responsive-md">

      <table class="table table-striped table-hover">
        <thead class="table-light">
          <tr>
            <th scope="col">#</th>
            <th style="width: 25%;" scope="col">Transaction Description</th>
            <th scope="col" class="w-col-action">Value In</th>
            <th scope="col" class="w-col-action">Value Out</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th>1</th>
            <td>Initial budget</td>
            <td>{{budget.value| currency: 'USD'}}</td>
            <td></td>
          </tr>
          <tr *ngFor="let transaction of transactions; index as i">
			      <th scope="row">{{ i + 2 }}</th>
            <td>
              {{ transaction.description }}
            </td>
            <td></td>
            <td>{{ transaction.value | currency : 'USD' }}   </td>
          </tr>

          <br>
          <tr class="mt-5">
            <th></th>
            <td>Balance:</td>
            <td>
              <span *ngIf="balance >= 0">{{balance | currency: 'USD'}}</span>
            </td>
            <td>
              <span *ngIf="balance < 0">{{balance | currency: 'USD'}}</span>
            </td>
          </tr>

        </tbody>
      </table>
    </div>

  </div>
</div>



