<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid d-flex">
    <a class="navbar-brand me-4">
      <i class="bi bi-piggy-bank"></i>
      FinApp
    </a>
    <div class="navbar-nav">
      <a class="nav-link active" aria-current="page" href="#">Budget</a>
      <a class="nav-link" href="#">Finantial Report</a>
    </div>
    <div class="ms-auto">

    </div>
    <span class="fw-medium">Elkin Rativa</span>
    <button class="btn btn-outline-danger btn-sm ms-4">Logout</button>
  </div>
</nav>
