<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid d-flex">
    <a class="navbar-brand me-4">
      <i class="bi bi-piggy-bank"></i>
      FinApp
    </a>
    <div class="navbar-nav">
      <a *ngIf="isUserLogged" class="nav-link active">Budget</a>
      <a *ngIf="isUserLogged" class="nav-link">Finantial Report</a>
    </div>
    <div class="ms-auto">

    </div>
    <span class="fw-medium">{{username}}</span>
    <button *ngIf="isUserLogged" (click)="logout()" class="btn btn-outline-danger btn-sm ms-4">Logout</button>
  </div>
</nav>
